.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.table.table-striped {
  border: 2px solid #535050;
  border-collapse: collapse;
  width: 100%;
}

.table.table-striped th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.table.table-striped td {
  padding: 8px;
  border-bottom: 4px solid #999;
  border-right: 4px solid #999;
  border-left: 4px solid #999;
  font-weight: bold;
}
