.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
    transition: background-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #2E2D88;
  }

  .card:hover {
    transform: scale(1.05); /* Make the card slightly bigger on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow on hover */
  }

  /* Optionally, you can change the background color on hover */
  .card:hover {
    background-color: #f5f5f5;
  }