body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;margin:0}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}.btn-primary{background-color:#007bff;border-color:#007bff;transition:background-color .3s}.btn-primary:hover{background-color:#2e2d88}.card:hover{background-color:#f5f5f5;box-shadow:0 4px 8px rgba(0,0,0,.2);-webkit-transform:scale(1.05);transform:scale(1.05)}
/*# sourceMappingURL=main.a8609a10.css.map*/